:root{
    /*primary-clr*/

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /*neutral-clr*/

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
}